body {
    background-color: #d3e7e7;
}

hr {
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: rgb(15, 15, 15);    
}

h1,h3 {
    color: #66BFBF;
}